/* FONT STACK */
body,
input, select, textarea {
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}

/* BASE LAYOUT */

html {
    background-color: #ddd;
    background-image: -moz-linear-gradient(center top, #aaa, #ddd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #ddd));
    background-image: linear-gradient(to bottom, #aaa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#aaaaaa', EndColorStr = '#dddddd');
    background-repeat: no-repeat;
    height: 100%;
    /* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html.no-cssgradients {
    background-color: #aaa;
}

html * {
    margin: 0;
}

body {
    background-color: #F5F5F5;
    color: #333333;
    overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
    -moz-box-shadow: 0 0 0.3em #424649;
    -webkit-box-shadow: 0 0 0.3em #424649;
    box-shadow: 0 0 0.3em #424649;
}

#grailsLogo {
    background-color: #feb672;
}

a:hover, a:active {
    outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
}

h1, h2, h3 {
    font-weight: normal;
    font-size: 1.25em;
    margin: 0.8em 0 0.3em 0;
}

ul {
    padding: 0;
}

img {
    border: 0;
}

/* GENERAL */

#grailsLogo a {
    display: inline-block;
    margin: 1em;
}

.content {
}

.content h1 {
    border-bottom: 1px solid #CCCCCC;
    margin: 0.8em 1em 0.3em;
    padding: 0 0.25em;
}

.scaffold-list h1 {
    border: none;
}

.footer img {
    height: 80px;
    margin-right: 25px;
    margin-bottom: 15px;
    clear: bottom;
}

.footer strong a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.footer {
    background: #424649;
    color: #ffffff;
    clear: both;
    font-size: 1em;
    margin-top: 1.5em;
    padding: 1em;
    padding-bottom: 2em;
    min-height: 1em;
}

.footer a {
    color: #feb672;
}

.spinner {
    background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
    height: 16px;
    width: 16px;
    padding: 0.5em;
    position: absolute;
    right: 0;
    top: 0;
    text-indent: -9999px;
}

/* NAVIGATION MENU */

.nav {
    zoom: 1;
}

.nav ul {
    overflow: hidden;
    padding-left: 0;
    zoom: 1;
}

.nav li {
    display: block;
    float: left;
    list-style-type: none;
    margin-right: 0.5em;
    padding: 0;
}

.nav a {
    color: #666666;
    display: block;
    padding: 0.25em 0.7em;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.nav li.dropdown-item a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.nav a:active, .nav a:visited {
    color: #666666;
}

.nav a:focus, .nav a:hover {
    background-color: #999999;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .nav a:focus, .no-borderradius .nav a:hover {
    background-color: transparent;
    color: #444444;
    text-decoration: underline;
}

.nav a.home, .nav a.list, .nav a.create {
    background-position: 0.7em center;
    background-repeat: no-repeat;
    text-indent: 25px;
}

.nav a.home {
    background-image: url(../images/skin/house.png);
}

.nav a.list {
    background-image: url(../images/skin/database_table.png);
}

.nav a.create {
    background-image: url(../images/skin/database_add.png);
}

.nav li.dropdown.show ul.dropdown-menu {
    background-color: #424649;
}

/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,
.property-list {
    margin: 0.6em 1.25em 0 1.25em;
    padding: 0.3em 1.8em 1.25em;
    position: relative;
    zoom: 1;
    border: none;
}

.property-list .fieldcontain {
    list-style: none;
    overflow: hidden;
    zoom: 1;
}

.fieldcontain {
    margin-top: 1em;
}

.fieldcontain label,
.fieldcontain .property-label {
    color: #666666;
    text-align: right;
    width: 25%;
}

.fieldcontain .property-label {
    float: left;
}

.fieldcontain .property-value {
    display: block;
    margin-left: 27%;
}

label {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25em 0 0;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #cccccc;
    font-size: 1em;
    padding: 0.2em 0.4em;
}

select {
    padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
    vertical-align: top;
}

textarea {
    width: 250px;
    height: 150px;
    overflow: auto; /* IE always renders vertical scrollbar without this */
    vertical-align: top;
}

input[type=checkbox], input[type=radio] {
    background-color: transparent;
    border: 0;
    padding: 0;
}

input:focus, select:focus, textarea:focus {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    outline: 0;
    -moz-box-shadow: 0 0 0.5em #ffffff;
    -webkit-box-shadow: 0 0 0.5em #ffffff;
    box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
    color: #cc0000;
    display: inline-block;
    font-weight: bold;
    margin-left: 0.3em;
    position: relative;
    top: 0.1em;
}

ul.one-to-many {
    display: inline-block;
    list-style-position: inside;
    vertical-align: top;
}

ul.one-to-many li.add {
    list-style-type: none;
}

/* EMBEDDED PROPERTIES */

fieldset.embedded {
    background-color: transparent;
    border: 1px solid #CCCCCC;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

fieldset.embedded legend {
    margin: 0 1em;
}

/* MESSAGES AND ERRORS */

.errors,
.message {
    font-size: 0.8em;
    line-height: 2;
    margin: 1em 2em;
    padding: 0.25em;
}

.message {
    background: #f3f3ff;
    border: 1px solid #b2d1ff;
    color: #006dba;
    -moz-box-shadow: 0 0 0.25em #b2d1ff;
    -webkit-box-shadow: 0 0 0.25em #b2d1ff;
    box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
    background: #fff3f3;
    border: 1px solid #ffaaaa;
    color: #cc0000;
    -moz-box-shadow: 0 0 0.25em #ff8888;
    -webkit-box-shadow: 0 0 0.25em #ff8888;
    box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
    padding: 0;
}

.errors li {
    list-style: none;
    background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat;
    text-indent: 2.2em;
}

.message {
    background: transparent url(../images/skin/information.png) 0.5em 50% no-repeat;
    text-indent: 2.2em;
}

/* form fields with errors */

.error input, .error select, .error textarea {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
    -moz-box-shadow: 0 0 0.5em #ffaaaa;
    -webkit-box-shadow: 0 0 0.5em #ffaaaa;
    box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
    -moz-box-shadow: 0 0 0.5em #ffaaaa;
    -webkit-box-shadow: 0 0 0.5em #ffaaaa;
    box-shadow: 0 0 0.5em #ffaaaa;
}

/* TABLES */

table {
    border-top: 1px solid #DFDFDF;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}

tr {
    border: 0;
}

tr>td:first-child, tr>th:first-child {
    padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
    padding-right: 1.25em;
}

td, th {
    line-height: 1.5em;
    padding: 0.5em 0.6em;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
    color: #666666;
    font-weight: bold;
    line-height: 1.7em;
    padding: 0.2em 0.6em;
}

thead th {
    white-space: nowrap;
}

th a {
    display: block;
    text-decoration: none;
}

th a:link, th a:visited {
    color: #666666;
}

th a:hover, th a:focus {
    color: #333333;
}

th.sortable a {
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 1.1em;
}

th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}

.even {
    background: #ffffff;
}

th:hover, tr:hover {
    background: #f5f5f5;
}

/* PAGINATION */

.pagination {
    border-top: 0;
    margin: 0.8em 1em 0.3em;
    padding: 0.3em 0.2em;
    text-align: center;
    -moz-box-shadow: 0 0 3px 1px #AAAAAA;
    -webkit-box-shadow: 0 0 3px 1px #AAAAAA;
    box-shadow: 0 0 3px 1px #AAAAAA;
    background-color: #EFEFEF;
}

.pagination a,
.pagination .currentStep {
    color: #666666;
    display: inline-block;
    margin: 0 0.1em;
    padding: 0.25em 0.7em;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
    background-color: #999999;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
    background-color: transparent;
    color: #444444;
    text-decoration: underline;
}

/* ACTION BUTTONS */

.buttons {
    background-color: #efefef;
    overflow: hidden;
    padding: 0.3em;
    -moz-box-shadow: 0 0 3px 1px #aaaaaa;
    -webkit-box-shadow: 0 0 3px 1px #aaaaaa;
    box-shadow: 0 0 3px 1px #aaaaaa;
    margin: 0.1em 0 0 0;
    border: none;
}

.buttons input,
.buttons a {
    background-color: transparent;
    border: 0;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25em 0;
    overflow: visible;
    padding: 0.25em 0.7em;
    text-decoration: none;

    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.buttons input:hover, .buttons input:focus,
.buttons a:hover, .buttons a:focus {
    background-color: #999999;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.no-borderradius .buttons input:hover, .no-borderradius .buttons input:focus,
.no-borderradius .buttons a:hover, .no-borderradius .buttons a:focus {
    background-color: transparent;
    color: #444444;
    text-decoration: underline;
}

.buttons .delete, .buttons .edit, .buttons .save {
    background-position: 0.7em center;
    background-repeat: no-repeat;
    text-indent: 25px;
}

.buttons .delete {
    background-image: url(../images/skin/database_delete.png);
}

.buttons .edit {
    background-image: url(../images/skin/database_edit.png);
}

.buttons .save {
    background-image: url(../images/skin/database_save.png);
}

a.skip {
    position: absolute;
    left: -9999px;
}

.grails-logo-container {
    background: #7c7c7c no-repeat 50% 30%;
    margin-bottom: 20px;
    color: white;
    height:300px;
    text-align:center;
}

img.grails-logo {
    height:340px;
    margin-top:-10px;
}

#content{
    height: 100%;
    overflow: hidden;
}

#main-content{
    height: -webkit-fill-available;
}

.nav-switcher {
    color: #ffffff;
}

.nav-switcher form {
    height: 70px;
    text-align: center;
    padding-top: 5px;
    padding-left: 0px;
}

.nav-switcher form label{
    height: 35px;
    width: 100%;
    float: left;
    display: block;
    font-size: 20px;
}


.rule-search-form {
    background-color: #dcdcdc;
    padding-bottom: 8px;
    margin-top: 10px;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.rule-search-form .col-3 {
    margin-top: 7px;
}

.rule-search-form button {
    margin-top: 2px;
}

#logo {
    width: 80px;
    height: 80px;
}

.action-icon {
    font-size: 2em;
    cursor: pointer;
    margin-right: 7px;
}

.c-pointer{
    cursor: pointer;
}

.configuration-cards {
    padding-top: 10px;
}

.configuration-cards .card {
    margin-right: 1rem;
    margin-left: 15px;
}

.body-exchange{
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    text-align: center
}

.modal-dialog .modal-content {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    border: 0;
    -webkit-border-radius: 0.125rem;
    border-radius: 0.125rem; }
.modal-dialog .modal-content .modal-header {
    -webkit-border-top-left-radius: 0.125rem;
    border-top-left-radius: 0.125rem;
    -webkit-border-top-right-radius: 0.125rem;
    border-top-right-radius: 0.125rem; }

.modal-dialog.cascading-modal {
    margin-top: 10%; }
.modal-dialog.cascading-modal .close {
    opacity: 1;
    text-shadow: none;
    color: #fff;
    outline: 0; }
.modal-dialog.cascading-modal .modal-header {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    margin: -2rem 1rem 1rem 1rem;
    border: none;
    -webkit-border-radius: 0.125rem;
    border-radius: 0.125rem;
    padding: 1.5rem;
    text-align: center; }
.modal-dialog.cascading-modal .modal-header .close {
    margin-right: 1rem; }
.modal-dialog.cascading-modal .modal-header .title {
    margin-bottom: 0;
    width: 100%;
    font-size: 1.25rem; }
.modal-dialog.cascading-modal .modal-header .title .fas, .modal-dialog.cascading-modal .modal-header .title .fab, .modal-dialog.cascading-modal .modal-header .title .far {
    margin-right: 9px; }
.modal-dialog.cascading-modal .modal-header .social-buttons {
    margin-top: 1.5rem; }
.modal-dialog.cascading-modal .modal-header .social-buttons a {
    font-size: 1rem; }
.modal-dialog.cascading-modal .modal-c-tabs .md-tabs {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: -1.5rem 1rem 0 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
.modal-dialog.cascading-modal .modal-c-tabs .md-tabs li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
.modal-dialog.cascading-modal .modal-c-tabs .md-tabs li a {
    text-align: center; }
.modal-dialog.cascading-modal .modal-c-tabs .tab-content {
    padding: 1.7rem 0 0 0; }
.modal-dialog.cascading-modal .modal-body,
.modal-dialog.cascading-modal .modal-footer {
    padding-left: 2rem;
    padding-right: 2rem;
    color: #616161; }
.modal-dialog.cascading-modal .modal-body .additional-option,
.modal-dialog.cascading-modal .modal-footer .additional-option {
    margin-top: 1rem;
    text-align: center; }
.modal-dialog.cascading-modal.modal-avatar {
    margin-top: 6rem; }
.modal-dialog.cascading-modal.modal-avatar .modal-header {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: -6rem 0 -1rem; }
.modal-dialog.cascading-modal.modal-avatar .modal-header img {
    width: 130px;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: auto;
    margin-right: auto; }

.modal-dialog.modal-notify .heading {
    margin: 0;
    padding: 0.3rem;
    font-size: 1.15rem;
    color: #fff; }

.modal-dialog.modal-notify .modal-header {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: 0; }

.modal-dialog.modal-notify .close {
    opacity: 1; }

.modal-dialog.modal-notify .modal-body {
    padding: 1.5rem;
    color: #616161; }

.modal-dialog.modal-notify.modal-primary .modal-header {
    background-color: #4285f4; }

.modal-dialog.modal-notify.modal-primary .fas, .modal-dialog.modal-notify.modal-primary .fab, .modal-dialog.modal-notify.modal-primary .far {
    color: #4285f4; }

.modal-dialog.modal-notify.modal-primary .badge {
    background-color: #4285f4; }

.modal-dialog.modal-notify.modal-primary .btn .fas, .modal-dialog.modal-notify.modal-primary .btn .fab, .modal-dialog.modal-notify.modal-primary .btn .far {
    color: #fff; }

.modal-dialog.modal-notify.modal-primary .btn.btn-outline-primary .fas, .modal-dialog.modal-notify.modal-primary .btn.btn-outline-primary .fab, .modal-dialog.modal-notify.modal-primary .btn.btn-outline-primary .far {
    color: #4285f4; }

.modal-dialog.modal-notify.modal-danger .modal-header {
    background-color: #ff3547; }

.modal-dialog.modal-notify.modal-danger .fas, .modal-dialog.modal-notify.modal-danger .fab, .modal-dialog.modal-notify.modal-danger .far {
    color: #ff3547; }

.modal-dialog.modal-notify.modal-danger .badge {
    background-color: #ff3547; }

.modal-dialog.modal-notify.modal-danger .btn .fas, .modal-dialog.modal-notify.modal-danger .btn .fab, .modal-dialog.modal-notify.modal-danger .btn .far {
    color: #fff; }

.modal-dialog.modal-notify.modal-danger .btn.btn-outline-danger .fas, .modal-dialog.modal-notify.modal-danger .btn.btn-outline-danger .fab, .modal-dialog.modal-notify.modal-danger .btn.btn-outline-danger .far {
    color: #ff3547; }

.modal-dialog.modal-notify.modal-warning .modal-header {
    background-color: #ffbb33; }

.modal-dialog.modal-notify.modal-warning .fas, .modal-dialog.modal-notify.modal-warning .fab, .modal-dialog.modal-notify.modal-warning .far {
    color: #ffbb33; }

.modal-dialog.modal-notify.modal-warning .badge {
    background-color: #ffbb33; }

.modal-dialog.modal-notify.modal-warning .btn .fas, .modal-dialog.modal-notify.modal-warning .btn .fab, .modal-dialog.modal-notify.modal-warning .btn .far {
    color: #fff; }

.modal-dialog.modal-notify.modal-warning .btn.btn-outline-warning .fas, .modal-dialog.modal-notify.modal-warning .btn.btn-outline-warning .fab, .modal-dialog.modal-notify.modal-warning .btn.btn-outline-warning .far {
    color: #ffbb33; }

.modal-dialog.modal-notify.modal-success .modal-header {
    background-color: #00c851; }

.modal-dialog.modal-notify.modal-success .fas, .modal-dialog.modal-notify.modal-success .fab, .modal-dialog.modal-notify.modal-success .far {
    color: #00c851; }

.modal-dialog.modal-notify.modal-success .badge {
    background-color: #00c851; }

.modal-dialog.modal-notify.modal-success .btn .fas, .modal-dialog.modal-notify.modal-success .btn .fab, .modal-dialog.modal-notify.modal-success .btn .far {
    color: #fff; }

.modal-dialog.modal-notify.modal-success .btn.btn-outline-success .fas, .modal-dialog.modal-notify.modal-success .btn.btn-outline-success .fab, .modal-dialog.modal-notify.modal-success .btn.btn-outline-success .far {
    color: #00c851; }

.modal-dialog.modal-notify.modal-info .modal-header {
    background-color: #33b5e5; }

.modal-dialog.modal-notify.modal-info .fas, .modal-dialog.modal-notify.modal-info .fab, .modal-dialog.modal-notify.modal-info .far {
    color: #33b5e5; }

.modal-dialog.modal-notify.modal-info .badge {
    background-color: #33b5e5; }

.modal-dialog.modal-notify.modal-info .btn .fas, .modal-dialog.modal-notify.modal-info .btn .fab, .modal-dialog.modal-notify.modal-info .btn .far {
    color: #fff; }

.modal-dialog.modal-notify.modal-info .btn.btn-outline-info .fas, .modal-dialog.modal-notify.modal-info .btn.btn-outline-info .fab, .modal-dialog.modal-notify.modal-info .btn.btn-outline-info .far {
    color: #33b5e5; }

.modal {
    padding-right: 0 !important; }
@media (min-width: 768px) {
    .modal .modal-dialog.modal-top {
        top: 0; }
    .modal .modal-dialog.modal-left {
        left: 0; }
    .modal .modal-dialog.modal-right {
        right: 0; }
    .modal .modal-dialog.modal-bottom {
        bottom: 0; }
    .modal .modal-dialog.modal-top-left {
        top: 10px;
        left: 10px; }
    .modal .modal-dialog.modal-top-right {
        top: 10px;
        right: 10px; }
    .modal .modal-dialog.modal-bottom-left {
        bottom: 10px;
        left: 10px; }
    .modal .modal-dialog.modal-bottom-right {
        bottom: 10px;
        right: 10px; } }
.modal.fade.top:not(.show) .modal-dialog {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0); }
.modal.fade.left:not(.show) .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0); }
.modal.fade.right:not(.show) .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0); }
.modal.fade.bottom:not(.show) .modal-dialog {
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0); }
@media (min-width: 992px) {
    .modal.modal-scrolling {
        position: relative; }
    .modal.modal-scrolling .modal-dialog {
        position: fixed;
        z-index: 1050; }
    .modal.modal-content-clickable {
        top: auto;
        bottom: auto; }
    .modal.modal-content-clickable .modal-dialog {
        position: fixed; }
    .modal .modal-fluid {
        width: 100%;
        max-width: 100%; }
    .modal .modal-fluid .modal-content {
        width: 100%; }
    .modal .modal-frame {
        position: absolute;
        margin: 0;
        width: 100%;
        max-width: 100%; }
    .modal .modal-frame.modal-bottom {
        bottom: 0; }
    .modal .modal-full-height {
        position: absolute;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        width: 400px;
        min-height: 100%;
        height: auto;
        min-height: 100%;
        top: 0;
        right: 0; }
    .modal .modal-full-height.modal-top, .modal .modal-full-height.modal-bottom {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto; }
    .modal .modal-full-height.modal-top {
        bottom: auto; }
    .modal .modal-full-height.modal-bottom {
        min-height: 0;
        top: auto; }
    .modal .modal-full-height .modal-content {
        width: 100%; }
    .modal .modal-full-height.modal-lg {
        width: 90%;
        max-width: 90%; } }
@media (min-width: 992px) and (min-width: 992px) {
    .modal .modal-full-height.modal-lg {
        width: 800px;
        max-width: 800px; } }
@media (min-width: 992px) and (min-width: 1200px) {
    .modal .modal-full-height.modal-lg {
        width: 1000px;
        max-width: 1000px; } }
@media (min-width: 992px) {
    .modal .modal-side {
        position: absolute;
        bottom: 10px;
        right: 10px;
        margin: 0;
        width: 400px; } }

.no-results-row {
    text-align: center;
    font-weight: bold;
    font-size: 20px !important;
}

[class*='ch-box'] {
    border-radius: 5px;
    margin: 0 0 10px 0;
    padding: 10px;
}

.ch-box {
    border: 1px solid #dedede;
}

.ch-box {
    background-color: #f0f0f0;
    background-image: -webkit-linear-gradient(top, #f0f0f0, #fff 25px, #fff);
    background-image: -webkit-linear-gradient(top,#f0f0f0, #fff 25px, #fff);
    background-image: linear-gradient(to bottom,#f0f0f0, #fff 25px, #fff);
}

.json-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.json-container .ch-box {
    width: 99%;
    height: 87%;
    overflow-y: scroll;
    padding-right: 16px;
}

.json-container pre{
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.json-container .string {
    color: green;
}

.json-container .number {
    color: darkorange;
}

.json-container .boolean {
    color: blue;
}

.json-container .null {
    color: magenta;
}

.json-container .key {
    color: darkblue;
}

.text-blue {
    color: #0a53be;
}

.text-red {
    color: red;
}
.text-green {
    color: green;
}

#v-pills-tabContent .tab-pane {
    overflow-y: scroll;
}

.t-align-center{
    text-align: center;
}

.nav-importer{
    display: block;
    float: left;
    list-style-type: none;
    margin-right: 0.5em;
    padding: 0;
}

.nav-importer form {
    border: 0px;
    height: 70px;
    text-align: center;
    background-color: transparent;
    color: white;
}

.nav-importer form button{
    height: 100%;
}

.configuration-cards .card-header {
    text-align: center;
    width: 100%;
}

.configuration-cards .card-body {
    text-align: center;
    width: 100%;
    padding: 0px;
}

.configuration-cards textarea {
    width: 100%;
    border-radius: 10px;
    margin-top: 8px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.main-table{
    padding-right: 8px;
}

.popup-show-rule-data{
    font-size: 14px;
    margin-bottom: 0px;
}

.rule-form {
    margin-top: 10px;
}

.rule-form h1{
    margin-bottom: 15px;
    text-align: center;
    color: #0c63e4;
}
.rule-form button{
    margin-top: 15px;
    width: 200px;
    height: 50px;
}

.rule-form .row{
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
}

.rule-form .rule-form-data div{
    float: left;
}

.rule-form .rule-form-data-label{
    text-align: right;
}

.rule-form .form-switch input{
    margin-left: -13px;
    margin-top: 10px;
}

.environment-form .update-environment-btn{
    height: 100%;
    width: 35%;
}

.environment-form {
    margin-top: 10px;
}

.environment-form h1{
    margin-bottom: 15px;
    text-align: center;
    color: #0c63e4;
}

.environment-form .row{
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
}

.environment-form .row.odd{
    background-color: #B5FFAB;
}

.environment-form .environment-form-data{
    margin-top: auto;
    margin-bottom: auto;
}

.environment-form .environment-form-data div{
    float: left;
}

.environment-form .environment-form-data-label{
    text-align: right;
}

.environment-form .form-switch input{
    margin-left: -13px;
    margin-top: 10px;
}


.add-environment{
    text-align: center;
}

.add-environment-btn{
    margin-top: 50px;
    height: 70px;
    width: 200px;
}

.logs-panel{
    position: absolute;
    top: 70%;
    width: 100%;
    height: 30%;
    max-height: 30%;
    right: 100%;
    transition: right 1s ease 0s;
    background-color: white;
}

.logs-panel table{
    margin-top: 0px;
}